@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #FA5;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #000000;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 , span{
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

a {
  color:  #F80;
  text-decoration: none;
}

.resume {
  color:  #FA5;
  text-decoration: none;
}

.gif-container {
  margin-left: auto;
  height: 100px;
  width: 100px;
}

.gif-container img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.circle-ul{
  list-style-type: circle;
  margin-left: 10px;
}

li {
  font-size: 115%;
}

p {
  margin: 20px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
  padding: 0 5px 0 5px;
}

.container { 
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: #111;
  padding: 20px;
  margin: 2px;
}

.winbox {
  background: linear-gradient(to right, #FA5, #F80);
  border-radius: 12px 12px 0 0;
  box-shadow: none;
}

/** Winbox Custom Scrollbar*/
.wb-body::-webkit-scrollbar {
  width: 12px;
}
.wb-body::-webkit-scrollbar-track {
  background: transparent;
}
.wb-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #263040;
}
.wb-body::-webkit-scrollbar-thumb:window-inactive {
  background: #181f2a;
}
.wb-body::-webkit-scrollbar-corner {
  background: transparent;
}

.wb-title {
  text-transform: uppercase;
  font-weight: 600;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terminal {
  left: 50%;
  top: 50%;

  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
 
  height: 70px;
  
  font-size:16px;
  border: none;
  outline: none;
  color: inherit;
}

.dollar:before {
  content: '$';
  color: #FDA;
}


/* @media only screen and (max-width: 500px) {
  
  .container nav ul{
    display: grid;
  }
  
} */
